# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
---
name: Approve Azure Recipe Tests

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  approve-azure-tests-run:
    name: Approve Azure Recipe Tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: azure
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Get PR number
        run: |
          mkdir -p ./pr
          echo "${PR_NUMBER}" > ./pr/pr_number
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Upload PR number artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pr_number
          path: pr/
